* {
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

html {
  direction: rtl;
  background-color: var(--color-background);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.wrapper {
  margin: 0 2rem;
}

@media (max-width: 425px) {
  .wrapper {
    margin: 0 1rem;
  }
}

.margin-top {
  margin-top: 75px;
}

.margin-x {
  margin: 0 0.5rem;
}

.margin-2x {
  margin: 0 1rem;
}

.margin-y {
  margin: 1rem 0;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) 0;
}

.primary-title {
  color: var(--color-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.title-item {
  font-size: 1rem;
  font-weight: 600;
  word-wrap: none;
  color: var(--color-text);
}

.description {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--color-text-secondary);
  word-wrap: none;
}

.ltr {
  direction: ltr;
}
