.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 400px;

  &__box {
    background-color: #eee;
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  &Green{
    background-color: green;
    border: 10px solid red;
  }
}
