.input{
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 40px;
    text-align: right;
    padding: 0 1rem;
    background-color: rgb(182, 228, 237);

    &:focus{
        background-color: var(--color-white);
    }
}