.button {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5rem 2rem;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--color-primary-dark);
}

.secondary {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
}

.secondary:hover {
  background-color: var(--color-background-soft);
}
