.store {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  &__cards {
    width: calc(75% - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__filter {
    width: calc(25% - 1rem);
    flex: 0 0 auto;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--color-border);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;
    min-height: calc(100vh - 120px);
    position: sticky;
    top: 100px;
  }
  &__mainTitle {
    font-size: 1rem;
    font-weight: bold;
  }

  &__title {
    color: var(--color-text);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 3;
  }
}
