html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.wrapper{
    margin : 0 2rem;
}

.space-item {
    margin: 0 1rem;
}

.margin-top{
    margin-top: 100px;
}