.card {
  border: 1px solid #999;
  width: calc(25% - 1rem);
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 769px) and (min-width: 426px) {
  .card {
    width: calc(50% - 1rem);
  }
}

.cardImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}
