.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: var(--color-heading);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  font-size: 1.1rem;

  @media (max-width: 425px) {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    min-width: 125px;
    cursor: pointer;

    a {
      color: var(--color-white);

      text-decoration: none;

      &:hover {
        color: var(--color-white);
      }
    }

    @media (max-width: 425px) {
      display: none;
    }
  }

  &__arrow {
    width: 13px;
    height: 13px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    border-radius: 0.25rem;
    transition: all 0.3s;

    @media (max-width: 425px) {
      display: none;
    }
  }
}
