.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.parent__nav {
  color: white;
  display: flex;
}

.parent__nav__active {
  color: orangered !important;
}

a {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: orange;
}
