.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 769px) {
  .parent {
    display: none;
  }
}

.parent__nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parent__navActive {
  color: var(--color-primary-dark) !important;
}

a {
  font-size: .9rem;
  font-weight: 600;
  word-wrap: none;
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}
