.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 769px) {
    display: none;
  }

  &__nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__active {
      color: orangered !important;
    }
  }
}
a {
  color: #999;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: orange;
  }
}
