.nav{
    color : white;
    display: flex;
    
    a{
       color : #999;
       cursor: pointer;
       text-decoration: none;
       
       &:hover{
        color: orange;
       }
    }


    &__active{
        color : orangered !important;
    }
}
