 $borderRadius : .25rem;
:root {
  --color-primary: #c99a5a;
  --color-primary-light: #d8b078;
  --color-primary-dark: #b88645;

  --color-black: #111111;
  --color-dark: #101417;

  --color-text: #222222;
  --color-text-secondary: #666666;

  --color-white: #ffffff;
  --color-background: #f8f8f7;
  --color-background-soft: #f3f1ee;

  --color-border: #e5e5e5;
}


