.cart {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  text-align: right;
}

.cart__image {
  width: 150px;
  aspect-ratio: 1 / 1;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
}

@media (max-width: 426px) {
  .cart__image {
    width: 100%;
    margin: 0;
  }
}

.cart__image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
}
