.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__banner {
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius);
  margin-top: 100px;
}

@media (max-width: 425px) {
  .products__banner {
    display: none;
  }
}

.products__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius);
}

.products__title {
  color: var(--color-primary-dark);
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 0.7rem;
}

@media (max-width: 425px) {
  .products__title {
    line-height: 3;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.products__titleBar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 1rem 0;
}

@media (max-width: 425px) {
  .products__titleBar {
    flex-direction: column;
    margin: 100px 0 2rem 0;
  }
}
