.body {
  width: 50px;
  height: 20px;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;

  &__active{
    background-color: var(--color-primary-dark);
  }

  &__notActive{
    background-color: var(--color-toggle);
  }
}
.circle {
  background-color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--color-toggle);
  transition: all 0.2s;
  &__active {
    transform: translateX(-30px);
    border: 2px solid var(--color-primary-dark);
  }

  &__notActive {
    transform: translateX(0);
    border: 2px solid var(--color-toggle);
  }
}
