.banner {
  min-width: 100%;
  height: 450px;
  position: relative;
  background-color: #555;
   box-shadow: 0 1px 5px #999;

  &__child {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &Button{
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
